@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

/* Comentario CSS */

body {
	/* shorthand properties */
	background: #EAE9E4 url('../images/bgMain.jpg') top center no-repeat;
	margin: 0;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#wrapper_main {
	margin: 0 auto;
	width: 1000px;
}

#main_header {
	height: 530px;
	position: relative;
}

#logo {
	margin: 0;
	width: 295px;
	height: 140px;
	background-color: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 5px 5px 12px -2px rgba(0,0,0,0.64);
	/* vendor prefix */
	position: absolute;
	top: 0px;
	left: 40px;
	z-index: 2;
}

#logo a {
	width: 295px;
	height: 140px;
	display: block;
}

#social_media {
	width: 495px;
	height: 23px;
	background-color: #fff;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	position: absolute;
	top: 0px;
	right: 0px;
	color: #333;
  font-size: 12px;
  padding: 2px 20px 5px 20px;
}

#social_media img {
	vertical-align: bottom;
}

#social_media a {
	color: inherit;
	text-decoration: none;
}

#social_media a:hover {
	color: #EAC52C;
	text-decoration: underline;
}

#slider {
	position: absolute;
	bottom: 45px;
	left: 0px;
	z-index: 1;
}

#slider img {
	border: solid #fff 12px;
	border-radius: 8px;
}



.hidden {
	visibility: hidden;
}

.txt_light {
	font-weight: 300;
}

.txt_semibold {
	font-weight: 600;
}

.txt_bold {
	font-weight: 700;
}
















