@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body {
	font-family: 'Open Sans';
	background: #eae9e4 url('../images/bgMain.jpg') no-repeat top;
	margin: 0;
	font-size: 10px;
}

#wrapper_main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	height: 490px;
}

#header_title {
	width: 295px;
	height: 140px;
	background-color: white;
	margin: 0;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
	position: absolute;
	top: 0px;
	left: 40px;
	z-index: 1;
}

#redes_sociales {
	width: 490px;
	height: 20px;
	background-color: #fff;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #333;
    padding: 5px 20px 10px 20px;
}

#redes_sociales img {
	vertical-align: bottom;
}

#header_slider {
	position: absolute;
	bottom: 0;
	left: 0;
	border: solid #fff 13px;
	border-radius: 8px;
}





.hidden {
	visibility: hidden;
}