@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');

body {
	font-family: 'Open Sans';
	background: #eae9e4 url('../images/bgMain.jpg') no-repeat top;
	margin: 0;
}

#wrapper_main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	position: relative;
	height: 490px;
}

#header_title {
	width: 295px;
	height: 140px;
	background-color: white;
	margin: 0;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	box-shadow: 10px 10px 16px -4px rgba(0,0,0,0.75);
	position: absolute;
	top: 0px;
	left: 40px;
	z-index: 1;
}

#redes_sociales {
	width: 490px;
	height: 20px;
	background-color: #fff;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.3px;
    color: #333;
    padding: 5px 20px 10px 20px;
}

#redes_sociales img {
	vertical-align: bottom;
}

#header_slider {
	position: absolute;
	bottom: 0;
	left: 0;
	border: solid #fff 13px;
	border-radius: 8px;
}

#header_subtitle {
	color: #286ba5;
	font-size: 24px;
	font-weight: 700;
	position: absolute;
	margin: 0;
	bottom: -33px;
	left:0;
	letter-spacing: -1px;
}

#header_subtitle_variant {
	font-family: 'Caveat';
	color: #ec8d1b;
	font-weight: 400;
	font-size: 30px;
}

#wrapper_body {
	height: 1000px;
	background-color: #fff;
	border-radius: 8px;
	margin-top: 35px;
	position: relative;
}

#menu_main {
	width: 700px;
	height: 35px;
	background-color: #2d69a0;
	margin: 0;
	position: absolute;
	top: 30px;
	left: 0px;
}

#menu_content {
	font-family: 'Caveat';
	font-size: 20px;
    letter-spacing: 1px;
}

#menu_content li {
	display: inline-block;
	position: relative;
}

#menu_content li ul {
	display: none;
}

#menu_content li:hover ul {
	display: block;
	position: absolute;
	top: 25px;
	left: 5px;
	background-color: #1db2ea;
}

#menu_content li:hover ul li {
	display: block;
	width: 300px;
	padding: 5px;
	margin-left: 5px;
}

#menu_content a {
	text-decoration: none;
	color: #fff;
}

#menu_content a:hover {
	color: #ec8d1b;
}

#sidebar {
	width: 270px;
	background-color: #f00;
	height: 700px;
	float: right;
	position: relative;
	top: -25px;
	padding: 30px 15px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background: rgba(247,196,43,1);
	background: linear-gradient(to bottom, rgba(247,196,43,1) 0%, rgba(255,255,255,1) 30%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7c42b', endColorstr='#ffffff', GradientType=0 );
}

#eventos_titulo, #eventos_mes, #eventos_cal p {
	margin: 0;
	padding: 0;
}

#eventos_titulo {
	position: absolute;
    top: 4px;
    left: 14px;
    font-weight: 400;
    color: #666;
    font-size: 23px;
    letter-spacing: -1px;
}

#eventos_mes {
	position: absolute;
	top: 10px;
	right: 20px;
	font-weight: 400;
    color: rgba(255,255,255,0.8);
    font-size: 23px;
    letter-spacing: -1px;
    text-transform: lowercase;
}

#eventos_cal {
	background-color: rgba(255,255,255,0.5);
}


.hidden {
	visibility: hidden;
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}